# Database
DATABASE_URL="postgresql://user:password@localhost:5432/gab_c2_db"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-here-min-32-chars"

# Discord OAuth
DISCORD_CLIENT_ID="your-discord-client-id"
DISCORD_CLIENT_SECRET="your-discord-client-secret"

# Admin/Owner
OWNER_DISCORD_ID="your-discord-id-as-owner"
NEXT_PUBLIC_ADMIN_SECRET_ROUTE="c2-root-override"

# App
NODE_ENV="development"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
